{% include "base/header.html" %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 m-auto mt-5 pt-3">
                <h1 class="text-center">Online School</h1>
                <br />
                <div class="card">
                    <div class="card-header text-center">Password reset Form</div>
                    <div class="card-body">
                        <div class="form-group">
                            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                                {{ form.as_p }} 
                                <button class="btn btn-success" type="submit">Reset password</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
